{% extends "dashboard-layout.html" %}
{% block content %}
<div class="p-4">
    <a type="button" class="btn btn-primary btn-sm" href="/movies/retrieve_path/">Back</a>
    <form method="post" action="/movies/add_movie/">
    {% csrf_token %}
    <label for="moviename">Movie Name</label>
    <!--{{forms.Name}}-->
        <input type="text" name="Name" class="form-control d-inline" maxlength="200" required="" id="id_Name">
      <!--<input type="text" id="moviename" name="Name" value="">-->
    <button type="submit" class="btn btn-success mb-1 ml-2">Create</button>


 </form>
</div>

<script type="text/javascript">
    $(function(){
    $('.dashboardsidebar').find('.active').removeClass('active');
     $('#movies').addClass('active');
    });

</script>
{% endblock %}