{% extends "dashboard-layout.html" %}
{% block content %}
<div>
<!--<a type="button" class=" btn btn-primary btn-sm my-2 p-2" href="/movies/add_movie/" >create</a>-->
<table class="table table-bordered table-hover table-striped mt-2">

    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>password</th>
          <th>Action</th>
    </tr>
        {% for i in table_data %}
        <tr>
            <td>{{i.Id}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.password}}</td>
            <th>
        <a type="button" class="btn btn-danger" href="/customers/delete_customer/{{i.Id}}">Delete</a>
            </th>
        </tr>

        {% endfor %}
</table>
</div>
<script type="text/javascript">
    $(function(){
    $('.dashboardsidebar').find('.active').removeClass('active');
     $('#customers').addClass('active');
    });

</script>
{% endblock %}